@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .aspect-1-to-1 {
    aspect-ratio: 1 / 1;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
